*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    height: 100vh;
    background: linear-gradient(130deg, #abd18c, #c01dcfde);
    padding: 10px;
    overflow: hidden;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.container-main{
    height: 100%;
    background: rgba(223, 208, 208, 0.6);
    border-radius: 20px;
    overflow: auto;
}

nav{
    width: 10%;
    background: rgba(255, 254, 254, 1.3);
    height: 100%;
    /* padding: 15px; */
    float: left;
    /* z-index: 1; */
    border-right: 1px solid rgb(153, 153, 143);
    position: ;
}

nav a{
    display: block;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
    margin-top: 20px;

}

nav a:hover{
    color: rgb(255, 255, 255);
    background: rgb(196, 189, 189);
}

.content{
    width: 90%;
    background-color: black;
    height: 100%;
    float: left;
    overflow: auto;
}

.home{
    height: 100%;
    background-color: #8b7777;

}

/* css grid */

.row::after{
    content: "";
    display: table;
    clear: both;
}

.column-half{
    width: 50%;
    margin: 0;
    padding: 10px;
}